@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: #4338ca;
  --secondary-color: #d1d5db;
  --border-color: #f0b429;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

div {
  border: 1px solid black;
}

img {
  border-radius: 50%;
  margin: 10px;
  margin-left: 20px;
}

svg {
  height: 25px;
  width: 25px;
}

h2 {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 20px;
}

.sidebar {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 30px;
  grid-row: 1 / 3;
  background-color: var(--main-color);
  color: white;
  fill: white;
}

.sidebar-title,
.sidebar-section1,
.sidebar-section2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: min-content;
  column-gap: 20px;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: 4fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / 3;
  box-shadow: gray 2px 5px;
}

.user-info {
  grid-column: 3 / 5;
}

.user-intro,
.user-info {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.search {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.searchbar {
  border-radius: 20px;
  margin: 10px;
  width: auto;
  height: 30%;
  background: var(--secondary-color);
  align-self: center;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: var(--secondary-color);
}

.projects {
  grid-row: 1 / 3;
}

.projects,
.announcements,
.trending {
  display: grid;
  grid-template-rows: min-content 10fr;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 250px;
  gap: 10px;
}

.icon {
  align-self: center;
  justify-self: end;
}

.user-info {
  align-self: center;
}

.button {
  margin: 5px;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  align-self: center;
  justify-self: center;
}

.project-card,
.announcements-content,
.trending-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: gray 2px 5px 3px;
  margin: 10px;
}

.project-card {
  display: grid;
  grid-template-rows: 2fr min-content;
  border-left-color: var(--border-color);
  border-left-width: 10px;
}

.projects h3 {
  margin: 30px 20px 0px;
}

.announcements-content {
  display: grid;
  grid-auto-rows: min-content;
  height: min-content;
}

.announcement {
  margin: 0px 20px 0px;
}

.announcements h3 {
  margin: 20px 0px 5px;
  font-size: 1em;
}

.project-card p,
.announcements p,
.desc {
  color: gray;
}

.project-card p {
  margin-top: 5px;
  margin-left: 20px;
}

.announcements p {
  font-size: 0.8em;
  margin: 5px 0px 20px;
}

.card-icons svg {
  margin: 0px 15px 0px;
}

.card-icons {
  justify-self: end;
  align-self: center;
}

.trending-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: min-content;
  align-items: center;
}

.trending-content p {
  margin-left: 10px;
}
