body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

div {
  border: 1px solid black;
}

.header {
  display: grid;
  grid-template-columns: 4fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / 3;
}

.user-info {
  grid-column: 3 / 5;
}

.sidebar {
  display: grid;
  row-gap: 30px;
  grid-row: 1 / 3;
}

.sidebar-title,
.sidebar-section1,
.sidebar-section2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 10px;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.search {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.searchbar {
  border-radius: 20px;
  margin: 10px;
  width: auto;
  height: 30%;
  background: gray;
  align-self: center;
}

svg {
  height: 25px;
  width: 25px;
}

.projects,
.announcements,
.trending {
  display: grid;
  grid-template-rows: 30px 10fr;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}

.side {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.icon {
  align-self: center;
  justify-self: end;
}

.user-info {
  align-self: center;
}

.button {
  margin: 5px;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: lightblue;
  align-self: center;
  justify-self: center;
}

img {
  border-radius: 50%;
  margin: 10px;
}
